---
import site from '../data/site.json';
const year = 2014;
---
<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__brand">
        <div class="logo-sm">TH<span class="eee">EEE</span> BURGER</div>
        <p>{site.footerNote} {site.slogan}</p>
      </div>
      <div>
        <h4>Eat</h4>
        <ul>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/order">Order to your table</a></li>
        </ul>
      </div>
      <div>
        <h4>Visit</h4>
        <ul>
          <li><a href="/locations">Location</a></li>
          <li><a href="/about">Our story</a></li>
          <li><a href="/careers">Careers</a></li>
          <li>{site.addressLine}</li>
          <li><a href={`tel:${site.phone.replace(/[^0-9+]/g, '')}`}>{site.phone}</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <span>© {year}–2026 {site.brandName}. All rights reserved.</span>
      <span>San Jose, California</span>
    </div>
  </div>
</footer>
